@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}
@media (min-width: 47rem) {
    .about-img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        opacity: 0;
        transition: .3s ease-in;
        transform: scale(.3);
    }
    .about-img.about-img-active{
        transform: scale(1);
        opacity: 1;
    }
}
body{
    background-color: #060817;
}